
.parcel-cache/24127f1d9c8fb2f2
/dist
/.parcel-cache
/dist
/.parcel-cache
/dist
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
dist/carrers.7499da4f.js
dist/carrers.7499da4f.js.map
dist/enllacos.a45a3d90.js
dist/enllacos.a45a3d90.js.map
dist/index.1303bb05.css
dist/index.1303bb05.css.map
dist/index.672d4772.js
dist/index.672d4772.js.map
dist/index.html
dist/presentacio.dff5568f.js
dist/presentacio.dff5568f.js.map
dist/Rec Comtal.3464ddca.js
dist/Rec Comtal.3464ddca.js.map
dist/sequia_comtal.5441917e.js
dist/sequia_comtal.5441917e.js.map
dist/src/carrers.html
dist/src/sequia_comtal.html
node_modules