*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
  height: 90px;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 1.5rem;
}

.botons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.boto {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.boto a {
  display: block;
  width: 100%;
  height: 100%;
}

.boto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  transition: transform 0.3s ease;
}

.boto:hover img {
  transform: scale(1.1);
}

.boto-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (max-width: 768px) {
  .boto {
    width: 100px;
    height: 100px;
  }

  .boto img {
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }

  .boto-text {
    font-size: 12px;
  }
}

.slider {
  position: relative;
  z-index: 1;
  top: 20px;
  margin-top: 90px;
  margin-bottom: 0px;
  height: calc(100vh - 241px); 
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* Fons semitransparent per als botons */
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

main {
  margin-top: 220px;
  padding-top: 250px; 
  padding-bottom: 50px;
  flex-grow: 1;
  width: 100%;
}

.text_presentacio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.text_presentacio h2,
.text_presentacio h3,
.text_presentacio p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

.text_presentacio h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text_presentacio h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.text_presentacio p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.fotos_presentacio {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.fotos_presentacio-img {
  max-width: 48%;
  width: 250px;
  height: auto;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  transition: transform 0.3s ease;
}

.fotos_presentacio-img:hover {
  transform: scale(1.1);
}

.text_carrers { 
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 30px;
max-width: 800px;
margin: 0 auto;
}

.text_carrers h2 {
  font-size: 2.5rem;
  margin-top: 80px;
  margin-bottom: 20px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  z-index: 10;
  width: 100%;
  margin-top: 203px;
  position: absolute;
}

.footer-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  display: inline;
}

.footer-menu a {
  text-decoration: none;
  color: #000;
  background-color: #f4f0db;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-menu a img {
  width: 16px;
  height: 16px;
}

footer p {
  margin: 10px 0;
}

/* Responsivitat */
@media (max-width: 768px) {

  header {
    padding: 15px;
    height: auto;
  }

  .header-content {
    justify-content: center;  
    gap: 10px;
    padding-left: 0px;
  }

  .logo {
    max-width: 120px;
  }

  h1 {
    font-size: 40px;
  }

    .slider {
    height: 61vh;
    margin-top: 10px;
  }

  .swiper-slide {
    clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%); /* Ajuste en clip-path para móviles */
  }

  .slider-text {
    font-size: 1.5rem;
    z-index: 15;
    margin-top: -200px;
  }

  .swiper-button-next, .swiper-button-prev {
    z-index: 1;
    color: white;
    margin-top: -200px;
  }

  
  .footer-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu li {
    margin-bottom: 10px;
  }

  .footer-menu a {
    padding: 12px 20px;
  }

  .text_presentacio {
    padding: 15px;
  }

  .fotos_presentacio {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .fotos_presentacio-img {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  footer {
    margin-top: 58px;
  }
}
