* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgb(255, 255, 255); 
  text-decoration: none;
}

b {
  color: rgb(0, 0, 0); 
  text-decoration: underline;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5dc; 
}

/* Menu superior */
#barra_dalt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  color: white;
  padding: 10px 20px;
  z-index: 10;
}

#barra_dalt .logo_titol {
  display: flex;
  align-items: center;  
  justify-content: flex-start;  
  width: 100%; 
}

#barra_dalt #nav-logo {
  max-width: 40px; 
  margin-right: 10px; 
}

#barra_dalt #nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  
}

#barra_dalt #nav-title a {
  color: white;
  text-decoration: none;
}

#barra_dalt ul {
  list-style: none;
  display: flex;
  margin-left: auto; 
}

#barra_dalt ul li {
  margin-left: 20px; 
}

#barra_dalt ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

#barra_dalt ul li a:hover {
  text-decoration: underline;
}

/* Estils presentació.html */
.text_presentacio {
  max-width: 800px;
  margin: 100px auto;  
  padding: 20px;
}

.text_presentacio h2 {
  text-align: center;
  margin-bottom: 20px;
}

.text_presentacio h3 {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

.text_presentacio p {
  line-height: 1,6;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.fotos_presentacio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fotos_presentacio-img {
  width: 48%;
  border-radius: 8px;
}

.fotos_presentacio-img.left {
  float: left;
  margin-right: 20px;
}

.fotos_presentacio-img.right {
  float: right;
  margin-left: 20px;
}

/* Menu superior */
#barra_dalt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  color: white;
  padding: 10px 20px;
  z-index: 10;
}

#barra_dalt .logo_titol {
  display: flex;
  align-items: center;  
  justify-content: flex-start;  
  width: 100%; 
}

#barra_dalt #nav-logo {
  max-width: 40px; 
  margin-right: 10px; 
}

#barra_dalt #nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

#barra_dalt #nav-title a {
  color: white;
  text-decoration: none;
}

#barra_dalt ul {
  list-style: none;
  display: flex;
  margin-left: auto; 
}

#barra_dalt ul li {
  margin-left: 20px; 
}

#barra_dalt ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

#barra_dalt ul li a:hover {
  text-decoration: underline;
}

/* Responsivitat menú */
@media (max-width: 768px) {
  #barra_dalt ul {
    display: block;  
    text-align: center;
  }

  #barra_dalt ul li {
    margin: 10px 0;  
  }

  #barra_dalt ul li a {
    font-size: 1.2rem; 
  }
  
  
  #barra_dalt .logo_titol {
    justify-content: center; 
  }

  #barra_dalt #nav-title {
    font-size: 1.3rem; 
  }
}


@media (max-width: 1024px) and (min-width: 769px) {
  #barra_dalt ul {
    display: flex; 
    justify-content: center;
  }

  #barra_dalt ul li {
    margin-left: 15px;  
  }

  #barra_dalt ul li a {
    font-size: 1.1rem; 
  }
}


@media (min-width: 1025px) {
  #barra_dalt ul {
    display: flex;  
    justify-content: flex-end;
  }

  #barra_dalt ul li {
    margin-left: 20px;  
  }

  #barra_dalt ul li a {
    font-size: 1rem;
  }
}


/* Estils index.html */
.portada {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 1200px; 
}

.foto_portada-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.titol_portada {
  position: absolute;
  bottom: -180px; 
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para mejorar la legibilidad */
  padding: 10px;
}

section h2 {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 600;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 20px;
}

/* Elements responsius */
@media (max-width: 768px) {
 
  .text_presentacio {
    width: 90%; 
  }

  .fotos_presentacio {
    flex-direction: column;
  }

  .fotos_presentacio-img {
    width: 100%;
    margin: 10px 0; 
  }

  /* Ajustes para la imagen en index.html */
  .portada {
    width: 480px;
    height: auto;
  }

  .foto_portada-img {
    width: 480px;
    height: auto;
    margin-top: 135px;
  }

  .titol_portada {
    font-size: 2rem;
    padding: 30px;
    position: relative;
    top: 0px;
  }

  #barra_dalt ul {
    display: block;
    text-align: center;
  }

  #barra_dalt ul li {
    margin: 15px 0;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f5f5dc; 
}

/* Menu superior */
#barra_dalt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  color: white;
  padding: 10px 20px;
  z-index: 10;
}

#barra_dalt .logo_titol {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#barra_dalt #nav-logo {
  max-width: 40px;
}

#barra_dalt #nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

#barra_dalt ul {
  list-style: none;
  display: flex;
}

#barra_dalt ul li {
  margin: 0 15px;
}

#barra_dalt ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#barra_dalt ul li a:hover {
  text-decoration: underline;
}

/* Responsivitat menu superior */
@media (max-width: 768px) {
  .nav-links {
      display: none; 
      flex-direction: column;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 1;
  }

  .nav-links li {
      margin: 15px 0;
      text-align: center;
  }

  .menu-icon {
      display: block;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links a {
      font-size: 20px;
  }
}

/* Tablets i PCs petits */
@media (min-width: 769px) {
  .nav-links {
      display: flex;
  }

  .menu-icon {
      display: none;
  }
}

.content {
  margin-top: 100px; 
  padding: 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.content p {
  font-size: 1rem;
  margin-bottom: 40px;
}

/* Botons carrers */
.botons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.botons .boto {
  position: relative;
  width: 250px;
  margin: 15px;
  text-align: center;
}

.botons .boto img {
  width: 100%;
  height: 250px;
  display: block;
}

.botons .boto .faldon {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
}

/* Mapa secció carrers */
#mapa {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Responsivitat botons */
@media screen and (max-width: 768px) {
  .botons .boto {
    width: 100%; 
    margin-bottom: 15px;
  }

  .botons .boto .faldon {
    font-size: 1rem; 
  }

  #mapa {
    width: 100%; 
  }

  section p {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}


/* Mapa */
.mapa {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mapa-img {
  width: 100%;
  max-width: 800px; 
  height: auto;
}

/* Responsiu mòbil */
@media screen and (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 80%;
    margin-bottom: 20px;
  }

  .mapa-img {
    max-width: 100%;
  }
}

/* Enllaços */


  #enllaços_negres {
    margin-left: 20px;  /* Margen izquierdo */
    margin-right: 20px; /* Margen derecho */
}

/* Text fitxa */
.text_fitxa p {
  line-height: 1,6;
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-up:-10px;
}